* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
  }

  .BackgroundImage {
    background-image: url("C:/WebsiteProjectHTML/img/starsBackground.jpg");
    background-size: cover;
  }



  header {
    background-color: #355C7D;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    position:relative;
  
  }



  .button {
    background-color: #6C5B7B; 
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    top:32px;
    left:-40px;
    transition:0.3s;
    
  }

.button:hover {
  transform: translate(0, -10px);
  background-color: #4d3d5c;
}

  a:link {
    color: #f6b092;
    background-color: transparent;
    text-decoration: none;
    padding:25px 40px;
  }
  
    a:visited {
    color: #f6b092;
    background-color: transparent;
    text-decoration: none;
  } 
  
  a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #a17663;
    background-color: transparent;
    text-decoration: underline;
  }

li {
    display: inline;
  }

article {
    background-color: #6C5B7B;
  
}

footer {
    background-color: #355C7D;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    color: white;
    border:none;
}

iframe {
    border:none;
    background-image: url("C:/WebsiteProjectHTML/img/repeated-square-dark.png");
    background-repeat: repeat;
    background-size: initial;
}

/*index.html*/
.RoleplayLink a {
    
    font-size: 20px;
    font-weight: bold;

}

.RoleplayLink {
    height: 60px;
    width: 750px;
    background-color: #41324e;
    padding:20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

  }
  .columnIntro{
    float: left;
    width: 50%;
    height: 700px; 
    text-indent: 40px;
  
}

.rowIntro:after {
  content: "";
  display: table;
  clear: both;
}


#IntroText {
  margin-left: 10px;
  color: #ffffff;
  font-size: 20px
  
}

#IntroImages {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

#GraphTexts {
  font-size: 15px;
  text-align: center;
  color: white;
}

#IntroFirstText {
  background-color: #19323c;
  margin-left: -15px;
  width: 1518px;
}
#IntroSecText {
  background-color: #19323c;
  margin-left: -15px;
  width: 1533px;
  margin-top: -20px;
  height: 500px;
}

.rowIntro {
  margin-top: -40px;
}
/*texts*/
  h1 {
    text-align: center;
  }

  h2 {
    color:white;
    font-size:40px;
    font-style: italic;
    font-weight: bold;
    text-indent: 10px;

  }

  .ParagraphTexts{
    color:white;
    font-size: 20px;
    text-indent: 40px;
    margin:15px;
  }



  .FooterText {
    font-size:20px;
    font-style: italic;

  }
/*Game*/
  #Chess{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
  }

  #ChessText {
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #ChessColor {
    background-color: #0b132b;
    margin: 0px;
    width: 1518px;
    margin-left: -15px;
    margin-right: -10px;
    
  }

  .columnChess{
      float: left;
      width: 50%;
      height: 700px; 
    
  }

#RepresentationText {
  margin-left: 10px;
}

  .rowChess:after {
    content: "";
    display: table;
    clear: both;
  }

  #Representation {
    margin-left: auto;
    margin-right: auto;
    width: 42%;
  }

  #WaysChess {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }

  #ChessTree {
    margin-left: auto;
    margin-right: auto;
    width: 51%;
  }

  #MatrixText {
    margin: 15px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-indent: 40px;
    margin-top: -50px;
  }

  #MatrixColor {
    height:400px;
  }

  #MatrixVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
  }

#DotaText{
  margin-left: auto;
  margin: 15px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-indent: 40px;

}

  #Dota{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
  }


  .DotaColumn {
    float: left;
    width: 1518px;
    padding: 10px;
    height: 600px;
    margin: 0px;
  }
  
  .GameRow:after {
    content: "";
    display: table;
    clear: both;
  }

.MatrixVideo {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

/*ScopeList*/
table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  margin-left: auto; 
  margin-right: auto;
  width: 900px;
  height: 500px;
  padding: 100px;
  
}
td, th{
  vertical-align: top;
  padding: 20px;
  color: white;
  background-color:#1c2541 ;
}

th {
  background-color: #0b132b;
}

.Scope3HMN{
  font-style:  italic;
  margin-left: auto; 
  margin-right: auto;
  display:block;
  width:38%;
}

.Scope3AI{
  font-style: italic;
  margin-left: auto; 
  margin-right: auto;
  display:block;
  width:41%;
}

.S3ImgHMN{
  margin-left: auto; 
  margin-right: auto;
 display:block;
 width: 39%;
}

.S3ImgAI{
  margin-left: auto; 
  margin-right: auto;
 display:block;
 width: 39%;
 margin-top: -10px;
}

#S3Texta {
  background-color: #0b132b;
  height: 600px;
  width: 1518px;
  margin-left: -15px;
}

#S3Textb {
  background-color: #3a506b;
  height: 600px;
  width: 1518px;
  margin-left: -15px;
}

.Scope3Com{
  font-style: italic;
  margin-left: auto; 
  margin-right: auto;
  display:block;
  width:48%;
}

.S3Vid{
  margin-left: auto; 
  margin-right: auto;
 display:block;
 width: 45%;
 margin-top: 10px;
}

#S3VidColor {
  background-color: #0b132b;
  height: 600px;
  width: 1518px;
  margin-left: -15px;
  margin-top: -15px;
}

#S3Table {
  border: 1px solid;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#S3TableTitle{
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  background-color: #3a506b ;
  width: 1518px;
  height: 650px;
  margin-left: -15px;
  margin-top: -40px;
}
/* Scope4 */
#bullet{
  font-size: 40px;
  font-style: italic;
  color: #ffffff;
  font-weight: bold;
}

li#bullet {
  list-style: none;
  background-image:url("C:/WebsiteProjectHTML/img/CatSmall.gif") ;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 33px;
  padding: 10px 10px 10px 40px;
}

#video{
  margin-left: 125px;
}

#video2{
  margin-left: 150px;
}

.table{
  margin-left: 5%;
}

td{
  font-size: 20px;
}

th{
  font-size: 20px;
}

#niche{
  list-style-image: url("C:/WebsiteProjectHTML/img/1.png");
  font-size: 20px;
  color: #ffffff;
}

li#niche {
  list-style: none;
  background-image:url("C:/WebsiteProjectHTML/img/1.png") ;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 33px;
  padding: 10px 0px 10px 40px;
}

.container{
  display: flex;
}

#Scope4Texts{
  margin-top: 35px;
}

#saiz {
  font-size: 20px;
  color: #ffffff;
  text-indent: 40px;
}

#S4FirstColor{
  background-color: #19323c;
  height: 300px;
}

#S4SecondColor{
  background-color: #f2545b;
  margin-top: -37px;
  height: 470px;
}

#S4ThirdColor{
  background-color: #19323c;
  margin-top: -55px;
  height: 600px;
}

#S4FourthColor{
  background-color: #f2545b;
  margin-top: -55px;
  height: 750px;
}

#Should {
  margin-top: -40px;
}

#S4BarChart {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
}

#S4FifthColor {
  background-color: #19323c;
  margin-top: -55px;
  height: 370px;
}

/* ExploreMore */
#topic{
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 50px;
  color: #ffffff;
}

li#topic {
  list-style: none;
  background-image:url("C:/WebsiteProjectHTML/img/CatSmall.gif") ;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  padding: 10px 0px 10px 40px;
  margin: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 350px;
  color: #ffffff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#ExploreMoreVid{
  background-color: #080d1c;
  height: 400px;
}

/*MISC*/
#top {
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  
}

.btn:hover {
  background-color: rgb(229, 153, 153);
}

html {
  scroll-behavior: smooth;
}




div.gallery {
  border: 1px solid #ffffff;
  width:302px ;
}


div.gallery:hover {
  transform: scale(1.25);
  transition: transform .2s;
  border: 1px solid #ffffff;
}

div.gallery img {
  width: 300px;
  height: 250px;
  margin-left: -40px;
}

div.desc {
  padding: 15px;
  text-align: center;
  margin-left: 10px;
  color: white;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  margin:25px;
  margin-left: 100px;
}

@media only screen and (max-width: 400px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 400px) {
  .responsive {
    width: 100%;  
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
